<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="AboMapperCustom-2038153594" />
            <add name="PHP54" path="*.php" verb="GET,POST,HEAD" modules="FastCgiModule" scriptProcessor="c:\webserver\php54\php-cgi.exe" resourceType="File" requireAccess="Script" />
        </handlers>
    </system.webServer>
</configuration>
