/*
Copyright(c)2015 All rights reserved.
@Licenced  http://www.w3.org
@Author  LiuTian<1538731090@qq.com> liutian_jiayi
@Create on 2016-3-16 14:35:55
@Version 1.0
*/
/* 
    Created on : 2016-3-16, 14:35:55
    Author     : Administrator
*/
/*首页自己的样式*/
ul.user {
	margin:0 10px;
}
ul li {
	font:14px/30px Arial,宋体,微软雅黑;
	letter-spacing: 1px;
}
ul li:first-child span {
	display:inline-block;
	padding:2px 5px;
	background: #ccc;
	color:#fff;
	font:14px/24px Arial,宋体,微软雅黑;
	 
}
ul li:first-child+li span{
	font:18px/30px Monaspaced,微软雅黑,宋体;
}