/* CSS Document */
.wrap {
	color:#FFF;
	height:580px;
	background:url("../image/Login3_01.png") repeat-x scroll 0 0 ;
}

.main {
	height:450px;
	margin:80px auto 0;
	background:url("../image/Login3_03.png") no-repeat center top;
}

.area1 {
	width:400px;
	height:201px;
	background:url("../image/Login3_062.png") no-repeat scroll right  100px;
}

.area2 {
	width:570px;
	height:201px;
	background:url("../image/Login3_066.png") no-repeat scroll 40px  160px;
}

.area3 {
	width:400px;
	height:199px;
	background:url("../image/Login3_04.png") no-repeat 280px 20px;
}

.area4 {
	width:570px;
	height:199px;
}

.area4 table {
	margin:30px 0 0 40px;
	border-spacing:0;
	font-weight:bold;
}

.area4 table td {
	padding:5px 20px;
	font:16px/24px 微软雅黑,宋体;
	letter-spacing: 2px;
}

.area4 table td.last {
	padding:30px 0px 0 50px;
}

.area4 td input[type="text"], .area4 td input[type="password"] {
	background:none;
	border:2px solid #ccc;
	height:24px;
	color:#333;
	font:14px/24px Arial, 宋体;
	padding:0 0 0 10px;
	letter-spacing: 2px;
	border-radius: 4px;
}

.tips {
	width:320px;
}
.tips p {
	width:200px;
	letter-spacing: 2px;
	margin: 10px auto;
	background: url("../image/check_error.gif") no-repeat left center;
	padding:0 20px;
}