/*
Copyright(c)2015 All rights reserved.
@Licenced  http://www.w3.org
@Author  LiuTian<1538731090@qq.com> liutian_jiayi
@Create on 2016-3-22 14:23:18
@Version 1.0
*/
/* 
    Created on : 2016-3-22, 14:23:18
    Author     : Administrator
*/
form.addEdit {
	font:14px/30px Arial,宋体;
	letter-spacing:5px;
	margin:0 0 0 50px;
}

form.addEdit input[type="text"], form input[type="password"] {
	font:14px/20px 微软雅黑;
	width:200px;
	height:24px;
	border-radius: 5px;
	letter-spacing: 2px;
	border:1px solid #999;
	padding:0 10px;
}
form.addEdit select {
	font:14px/20px 微软雅黑;
	height:24px;
}
