<!DOCTYPE html>
<!--
--Copyright(c)2015 All rights reserved.
--@Licenced  http://www.w3.org
--@Author  LiuTian<1538731090@qq.com> liutian_jiayi
--@Create on 2016-3-24 22:01:37
--@Version 1.0
-->
<html>
	<head>
		<title>设置用户配置</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<h4>安装配置.....</h4>
		<form method="post" action="index.php">
			<p>本地数据库服务器：<input type="text" name="host" value="localhost" /></p>
			<p>用户账号：<input type="text" name="user" value="root" /></p>
			<p>密 码：<input type="password" name="password" value="" /></p>
			<p>数据库名：<input type="text" name="dbname" value="test" /></p>
			<input type="hidden" name="m" value="Install" />
			<input type="hidden" name="c" value="Index" />
			<input type="hidden" name="a" value="one" />
			<input type="submit" value="开始安装" />
		</form>
	</body>
</html>
